/.gitignore~
/_region_.log
/_region_.pdf
/_region_.prv
/_region_.tex
/article.aux
/article.bbl
/article.blg
/article.log
/article.out
/article.prv
/article.tex~
/auto
/critics.org~
/notes.aux
/notes.bbl
/notes.blg
/notes.dvi
/notes.log
/notes.out
/notes.pdf
/notes.prv
/notes.tex~
/notes.toc
/prv_article.log
/prv_notes.log
